{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          // also update in tsconfig.json
          "atoms": "./components/atoms"
        }
      }
    ]
  ]
}
